html {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* Whatsapp Chat Button */
.whatsapp-click {
    background-color: rgb(79, 198, 90);
    color: white;
    position: fixed;
    z-index: 500;
    right: 1.5rem;
    bottom: 1.5rem;
    margin: 0px;
    width: 55px;
    height: 55px;
    border-radius: 50em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
    cursor: pointer;
    transition: filter 0.2s ease 0s;
  }
  .whatsapp-click:hover {
    background-color: rgb(100, 241, 115);
  }
  
  .whatsapp-modal {
    margin-left: 8rem;
    position: fixed;
    opacity: 0;
    bottom: 6rem;
    right: 1rem;
    width: 22rem;
    height: 19rem;
    border-radius: 8px;
    background-color: #067ded;
    box-shadow: rgba(0, 0, 0, 0.25) -1px 4px 11px;
    font-size: 0.9rem;
    z-index: 600;
  }
  .wm-head {
    background-color: rgb(9, 94, 84);
    height: 5rem;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1.5rem 0 0 2rem;
  }
  #closeModal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  .bi.bi-x {
    font-size: 1.5rem;
  }
  .wm-body {
    background-image: url('whatsapp_background.png');
    height: 10rem;
    color: rgb(121, 121, 121);
    padding: 1.5rem 0 0 1.5rem;
  }
  #curTime {
    float: right;
    font-weight: 700;
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  .wm-footer {
    background-color: rgb(255, 255, 255);
    height: 4rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wm-innerchat {
    margin-bottom: 30px;
    padding: 10px;
    width: 250px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  .wm-chat-block {
    background-color: rgb(46, 204, 113);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 80%;
    cursor: pointer;
    border-radius: 20px;
    border: 0px solid;
    padding: 10px;
    display: none;
    align-items: center;
    justify-content: center;
  }